//1.3 Variable

$font-family-Poppins:  'Poppins', sans-serif !default;
$font-family-playfair:  'Playfair Display', serif !default;

$theme-color : blue !default;
$color-white:#ffffff;
$color-black:#232323;
$color-gray:#333333;
$color-hover:#8E7037 ;